/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
.v-application.theme--dark .hljs {
    color: #c9d1d9;
    background: #0d1117;
}

.v-application.theme--dark .hljs-doctag,
.v-application.theme--dark .hljs-keyword,
.v-application.theme--dark .hljs-meta .v-application.theme--dark .hljs-keyword,
.v-application.theme--dark .hljs-template-tag,
.v-application.theme--dark .hljs-template-variable,
.v-application.theme--dark .hljs-type,
.v-application.theme--dark .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
}

.v-application.theme--dark .hljs-title,
.v-application.theme--dark .hljs-title.class_,
.v-application.theme--dark .hljs-title.class_.inherited__,
.v-application.theme--dark .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
}

.v-application.theme--dark .hljs-attr,
.v-application.theme--dark .hljs-attribute,
.v-application.theme--dark .hljs-literal,
.v-application.theme--dark .hljs-meta,
.v-application.theme--dark .hljs-number,
.v-application.theme--dark .hljs-operator,
.v-application.theme--dark .hljs-variable,
.v-application.theme--dark .hljs-selector-attr,
.v-application.theme--dark .hljs-selector-class,
.v-application.theme--dark .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
}

.v-application.theme--dark .hljs-regexp,
.v-application.theme--dark .hljs-string,
.v-application.theme--dark .hljs-meta .v-application.theme--dark .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
}

.v-application.theme--dark .hljs-built_in,
.v-application.theme--dark .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
}

.v-application.theme--dark .hljs-comment,
.v-application.theme--dark .hljs-code,
.v-application.theme--dark .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
}

.v-application.theme--dark .hljs-name,
.v-application.theme--dark .hljs-quote,
.v-application.theme--dark .hljs-selector-tag,
.v-application.theme--dark .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
}

.v-application.theme--dark .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
}

.v-application.theme--dark .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
}

.v-application.theme--dark .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
}

.v-application.theme--dark .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
}

.v-application.theme--dark .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
}

.v-application.theme--dark .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
}

.v-application.theme--dark .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
}

.v-application.theme--dark .hljs-char.escape_,
.v-application.theme--dark .hljs-link,
.v-application.theme--dark .hljs-params,
.v-application.theme--dark .hljs-property,
.v-application.theme--dark .hljs-punctuation,
.v-application.theme--dark .hljs-tag {
    /* purposely ignored */
}