create new collection

<form>
    <label for="cid">ID</label><br>
    <input type="text" id="cid" name="cid"><br>

    <label for="name">Name</label><br>
    <input type="text" id="name" name="name"><br>

    <label for="desc">Description</label><br>
    <input type="text" id="desc" name="desc"><br>

    <label for="upload">hold ctrl to select multiple files</label><br>
    <input type="file" name="upload" multiple><br>
    <input type="submit" id="upload">
</form>

<script>
    import {collections} from "../public/js/api";
    window.currentNav = "newColl";
    var submit = document.getElementById("upload");

    submit.addEventListener("click", function() {
        coll.
    });
</script>