<style>
    .card-header .fa {
        transition: .3s transform ease-in-out;
    }

    .card-header.collapsed .fa {
        transform: rotate(90deg);
    }
</style>
{{#if user.admin}}
<div class="row" style="margin-top: 2em">
    <div class="col-lg-3">
        <div class="card mt-2">
            <p class="card-header d-flex" data-toggle="collapse" data-target="#user-list" aria-expanded="true"
               aria-controls="user-info">Users list<i class="fa fa-chevron-down ml-auto align-middle"></i></p>
            <ul class="list-group list-group-flush collapse show" id="user-list">
            </ul>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card mt-2">
            <p class="card-header d-flex" data-toggle="collapse" data-target="#user-list" aria-expanded="true"
               aria-controls="role-info">Roles list<i class="fa fa-chevron-down ml-auto align-middle"></i></p>
            <ul class="list-group list-group-flush collapse show" id="role-list">
            </ul>
        </div>
    </div>
</div>
{{/if}}
<script src="/js/moment.min.js"></script>
<script>
</script>