<style>
    .collapse-header .fa {
        transition: .3s transform ease-in-out;
    }

    .collapse-header.collapsed .fa {
        transform: rotate(90deg);
    }

    .compact.list-group .list-group-item {
        padding: .25rem 1rem;
    }
</style>
<script src="https://kit.fontawesome.com/c32b3db897.js" crossorigin="anonymous"></script>
<div class="row" style="margin-top: 2em">
    <div id="drawer-col" class="col-lg-3 col-md-12 collapse show collapsed">
        <div class="border rounded-top border-bottom-0">
            <p class="d-flex collapse-header p-2 mb-0 align-items-center" data-toggle="collapse" aria-expanded="true"
               data-target="#user-list" aria-controls="user-info">
                Users list<i class="fa fa-chevron-down ml-auto align-middle"></i></p>
            <div class="compact list-group list-group-flush collapse show" id="user-list" role="tablist">
            </div>
        </div>
        <div class="border rounded-bottom border-top-0">
            <p class="d-flex collapse-header p-2 mb-0 align-items-center" data-toggle="collapse" aria-expanded="true"
               data-target="#role-list" aria-controls="role-info">
                Roles list<i class="fa fa-chevron-down ml-auto align-middle"></i></p>
            <div class="compact list-group list-group-flush collapse show" id="role-list" role="tablist">
            </div>
        </div>
    </div>
    <div id="content-col" class="col-lg-9 col-md-12 tab-content collapse show">
        <div class="tab-pane fade show active" id="tab-idle" role="tabpanel">
            <h4 class="text-center mt-4">Please select something</h4>
        </div>
        <div class="tab-pane fade d-flex flex-wrap" id="tab-users" role="tabpanel">{{>users/profile}}</div>
        <div class="tab-pane fade" id="tab-roles" role="tabpanel">

        </div>
    </div>
</div>
<script src="/js/api.js"></script>
<script>
    window.currentNav = "admin";

    let usersTab = document.getElementById('tab-users');
    let rolesTab = document.getElementById('tab-roles');

    function refreshUsers(useCache = true) {
        return users.getAll(useCache).then(us => document.getElementById('user-list').innerHTML = us.map(user =>
                `<a onclick="showUser('${user.uid}',this)" class="list-group-item list-group-item-action d-flex align-items-center" href="#tab-users" role="tab">${user.name}</a>`).join(''))
    }

    function refreshRoles(useCache = true) {
        return roles.getAll(useCache).then(rs => document.getElementById('role-list').innerHTML = rs.map(role =>
                `<a onclick="showRole('${role.rid}',this)" class="list-group-item list-group-item-action d-flex align-items-center" href="#tab-roles" role="tab">${role.name}</a>`).join(''))
    }

    const userUID = document.getElementById('display-user-uid'),
            userPFP = document.getElementById('display-user-pfp'),
            userEmail = document.getElementById('display-user-email'),
            userName = document.getElementById('display-user-name'),
            userDesc = document.getElementById('display-user-status'),
            userRoles = document.getElementById('display-user-roles');

    let user;

    async function showUser(uid, elem) {
        event.preventDefault();
        elem.innerHTML += `<div id="loading_${uid}" class="spinner-border spinner-border-sm ml-auto" role="status"></div>`;
        user = await users.get(uid);
        console.log(user);
        userUID.innerText = user.uid;
        userPFP.setAttribute('src', user.pfp || '/images/guest.png');
        userName.innerText = user.name + (user.nickname ? ` (${user.nickname})` : '');
        userEmail.innerText = user.email;
        userDesc.innerText = user.desc ? user.desc : "";
        userRoles.innerHTML =
                (user.admin ? '<span class="badge badge-danger mr-1">Admin</span>' : "") +
                (user.verified ? '' : '<span class="badge badge-danger mr-1">Unverified</span>') +
                (user.roles.map(role => `<span class="badge badge-secondary mr-1">${role}</span>`));
        for (let child of document.querySelectorAll('#role-list .list-group-item.active')) child.classList.remove('active');
        if (window.innerWidth <= 991) {
            $(drawerCol).collapse('hide');
            $(contentCol).collapse('show');
        }
        let loading = document.getElementById(`loading_${uid}`);
        if (loading) loading.remove();
        rolesTab.classList.add('fade');
        usersTab.classList.remove('fade');
        $(elem).tab('show');
        await users.get(uid, false)
    }

    async function showRole(rid, elem) {
        event.preventDefault();
        for (let child of document.querySelectorAll('#user-list .list-group-item.active')) child.classList.remove('active');
        if (window.innerWidth <= 991) {
            $(drawerCol).collapse('hide');
            $(contentCol).collapse('show');
        }
        usersTab.classList.add('fade');
        rolesTab.classList.remove('fade');
        $(elem).tab('show');
    }

    const drawerCol = document.getElementById('drawer-col');
    const contentCol = document.getElementById('content-col');

    function toggleTabs() {
        if (drawerCol.classList.contains('show')) {
            $(drawerCol).collapse('hide');
            $(contentCol).collapse('show');
        } else {
            $(drawerCol).collapse('show');
            $(contentCol).collapse('hide');
        }
    }

    window.addEventListener('resize', resized)

    function resized(event) {
        // force show
        if (window.innerWidth > 991) {
            drawerCol.classList.add('show');
            contentCol.classList.add('show');
        } else {
            drawerCol.classList.remove('show');
            contentCol.classList.add('show');
        }
    }

    resized();

    document.getElementById('drawer-controls').innerHTML += '<br><a class="btn btn-outline-secondary btn-sm open mt-2 d-lg-none" onclick="toggleTabs()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/></svg></a>'; // wow injection, on my own website
    window.onload = e => {
        refreshUsers().then(() => refreshUsers(false)); // will call server twice on first launch, plz fix
        refreshRoles().then(() => refreshRoles(false));
    }
</script>