<style>
    .collection-card {
        margin: 0.3em 0;
        padding-left: 8px;
        padding-right: 8px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light" style="margin-top: 2em">
    <a class="navbar-brand" href="#">Collections</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="renderCollections(false)"><i class="fas fa-sync"></i> Cache</a>
            </li>
            {{#if user.admin}}
                <li class="nav-item">
                    <a class="nav-link" href="#" data-action="add"
                       data-toggle="modal" data-target="#admin-collection-popup">
                        <i class="fas fa-plus"></i> New
                    </a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>
<script src="https://kit.fontawesome.com/c32b3db897.js" crossorigin="anonymous"></script>
<div id="display" class="row">

</div>

{{#if user.admin}}
    <!--  There are questionable code  -->
    <div class="modal fade" id="admin-collection-popup" tabindex="-1" aria-labelledby="collection-popup-title"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="collection-popup-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="collection-form-id">Collection ID</label>
                            <input type="text" class="form-control" id="collection-form-id"
                                   aria-describedby="add-form-id-help"
                                   placeholder="ID is used in url">
                            <small id="add-form-id-help" class="form-text text-muted">Please don't use spaces</small>
                        </div>
                        <div class="form-group">
                            <label for="collection-form-name">Collection Name</label>
                            <input type="text" class="form-control" id="collection-form-name"
                                   placeholder="Any descriptive name">
                        </div>
                        <div class="form-group">
                            <label for="collection-form-desc">Collection Description</label>
                            <input type="text" class="form-control" id="collection-form-desc"
                                   placeholder="Helpful information">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="collection-form-open-check">
                            <label class="form-check-label" for="collection-form-open-check">Open for all</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-secondary" onclick="clearFields()">Clear</button>
                    <button id="deleteBtn" type="button" class="btn btn-danger" onclick="initDelete()">Delete
                    </button>
                    <button id="actionBtn" type="button" class="btn btn-primary"
                            onclick="actionBtnClicked(this.innerText.toLowerCase())"></button>
                </div>
                <script>
                    const idInput = GEBI('collection-form-id');
                    const nameInput = GEBI('collection-form-name');
                    const descInput = GEBI('collection-form-desc');
                    const openToAll = GEBI('collection-form-open-check');

                    const actionBtn = GEBI('actionBtn');
                    const deleteBtn = GEBI('deleteBtn');

                    // i hate jquery
                    $('#admin-collection-popup').on('show.bs.modal', async e => {
                        if ($(e.relatedTarget).data('action') === 'add') {
                            $('#collection-popup-title').text('Add collection');
                            idInput.disabled = false;
                            actionBtn.innerText = "Add";
                            deleteBtn.style.display = "none";
                            clearFields();
                        } else {
                            $('#collection-popup-title').text('Edit collection');
                            let cid = $(e.relatedTarget).data('cid');
                            let coll = await collections.get(cid);
                            idInput.value = coll.cid;
                            idInput.disabled = true;
                            nameInput.value = coll.name;
                            descInput.value = coll.desc;
                            openToAll.checked = coll.open;
                            actionBtn.innerText = "Edit";
                            deleteBtn.style.display = "inline-block";
                        }
                        idInput.setAttribute('placeholder', 'ID is used in url');
                        deleteBtn.innerText = "Delete";
                        deleteBtn.onclick = initDelete;
                    });

                    function actionBtnClicked(action) {
                        actionBtn.disabled = true;
                        fetcher(`/api/collections/${idInput.value}`, {
                            method: 'POST',
                            headers: {'Content-Type': 'application/json'},
                            body: JSON.stringify({
                                action: (action === 'add' ? 'add' : 'edit'),
                                name: nameInput.value,
                                desc: descInput.value,
                                open: openToAll.checked
                            })
                        }).then(result => {
                            actionBtn.disabled = false;
                            if (result.reason) {
                                alert(result.reason); // failed
                            } else {
                                $('#admin-collection-popup').modal('hide');
                                collections.update(idInput.value, result);
                                renderCollections();
                            }
                        }).catch(e => {
                            actionBtn.disabled = false;
                            console.log(e);
                        })
                    }

                    function initDelete() {
                        let cid = idInput.value;
                        $('#collection-popup-title').text(`Delete ${cid}? Please re-enter the id!`);
                        idInput.disabled = false;
                        idInput.value = "";
                        idInput.setAttribute('placeholder', cid);

                        deleteBtn.innerText = "Confirm";
                        deleteBtn.onclick = () => {
                            if (idInput.value === cid) {
                                deleteBtn.disabled = true;
                                fetcher(`/api/collections/${idInput.value}`, {
                                    method: 'DELETE'
                                }).then(result => {
                                    deleteBtn.disabled = false;
                                    if (result.reason) {
                                        alert(result.reason); // failed
                                    } else {
                                        $('#admin-collection-popup').modal('hide');
                                        collections.delete(cid);
                                        renderCollections();
                                    }
                                }).catch(e => {
                                    deleteBtn.disabled = false;
                                    console.log(e);
                                });
                            } else alert("ID mismatch!");
                        }
                    }

                    function clearFields() {
                        if (actionBtn.innerText === "Add") idInput.value = "";
                        nameInput.value = descInput.value = "";
                        openToAll.checked = false;
                    }
                </script>
            </div>
        </div>
    </div>
{{/if}}

<script>
    window.currentNav = "index";
    const display = GEBI('display')

    function renderCollections(useCache = true) {
        return collections.getAll(useCache).then(colls => {
            console.log(colls);
            display.innerHTML = colls.map(coll => `<div class="col-lg-3 col-md-5 col-sm-12 collection-card" id="coll-${coll.cid}">\n<div class="card">\n<div class="card-body">\n<h5 class="card-title">${coll.name}</h5>\n<h6 class="card-subtitle text-muted"><pre class="mb-1">${coll.cid}</pre></h6>\n${coll.open ? '<span class="badge badge-success">Public</span>' : '<span class="badge badge-danger">Private</span>'}\n<p class="card-text">${coll.desc}</p>\n<a href="/c/${coll.cid}/" class="card-link">Open</a>\n{{#if user.admin}}\n<a href="#" class="card-link" data-toggle="modal" data-target="#admin_collection_popup" data-action="edit" data-cid="${coll.cid}">Edit</a>\n{{/if}}\n</div>\n</div>\n</div>`).join('\n');
        });
    }

    window.onload = _ => {
        renderCollections().then(() => renderCollections(false))
    }
</script>