#drawer-user-display-name {
    margin-bottom: 0.1em;
}

.changed {
    box-shadow: -0.25rem 0 0 0 gold;
    background: lightyellow;
}

div.disabled, tr.disabled {
    pointer-events: none;
    opacity: 0.7;
}