<img id="display-user-pfp" src="/images/guest.png" class="p-2" width="128" height="128">
<div class="p-2 flex-grow-1">
    <p id="display-user-name"></p>
    <small class="text-muted" id="display-user-email"></small><br>
    <small class="text-muted" id="display-user-uid"></small><br>
    <div id="display-user-roles">
    </div>
</div>
<p id="display-user-status" style="flex-basis: 100%"></p>